[Unit]
Description=EagleEye Object Detection Utility
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
WorkingDirectory=/root/EagleEye-Object-Detection
ExecStart=/root/EagleEye-Object-Detection/venv/bin/python /root/EagleEye-Object-Detection/src/main.py

[Install]
WantedBy=multi-user.target